<div style="text-align: right;">
  <input
    nz-input
    placeholder="Filter by UserName"
    [(ngModel)]="filterValue"
    (ngModelChange)="filterByUserName($event)"
    style="margin-bottom: 16px; width: 250px;"
  />

  <button
    style="margin-left: 20px"
    nz-button
    nzType="primary"
    (click)="exportToCSV()">
    Export
  </button>
</div>

<nz-table
  #rowSelectionTable
  nzBordered
  nzShowPagination
  nzShowSizeChanger
  [nzLoading]="tableLoading"
  [nzSize]="'small'"
  [nzData]="listOfData"
  [nzTableLayout]="'auto'"
  [nzScroll]="{ x: '100%', y: '800px' }">

  <thead>
  <tr>
    @for (col of colDefinitions; track col.header + '-' + $index) {
      <th
        [nzShowSort]="true"
        [nzSortDirections]="['ascend' , 'descend']"
        nzBreakWord
        [nzWidth]="'170px'"
        [nzAlign]="'center'"
        [style.fontSize.px]="16"
        [nzSortFn]="sortFunctions[col.variable]">
        {{ col.header }}
      </th>
    }
  </tr>
  </thead>

  <tbody>
    @for (data of rowSelectionTable.data; track data.id) {

      <tr>

        @for (col of colDefinitions; track col.variable + '-' + $index) {
          <td [nzAlign]="'center'" nzBreakWord [style.fontSize.px]="14">{{ data[col.variable] }}</td>
        }
      </tr>

    }
  </tbody>

</nz-table>
