::ng-deep .ant-table-thead > tr > th,
::ng-deep .ant-table-tbody > tr > td {
  white-space: nowrap;      /* make sure long text doesn’t wrap */
}

/* to disable the row and column not in the same line */
:host ::ng-deep th,
:host ::ng-deep td {
  min-width: 120px;
}

/* to centre the row and header text */
:host ::ng-deep th,
:host ::ng-deep td {
  text-align: center;
  vertical-align: middle;
}



/* try for the arrow icons */
:host ::ng-deep .ant-table-column-sorter-up.active,
:host ::ng-deep .ant-table-column-sorter-down.active {
  color: #ff0000 !important;
}

:host ::ng-deep .ant-table-column-sorter-up,
:host ::ng-deep .ant-table-column-sorter-down {
  color: #000000;
}
