<nz-divider style="background: red" nzText=""></nz-divider>

<div style="text-align: right;">
  <input
    nz-input
    placeholder="Filter by UserName"
    [(ngModel)]="filterValue"
    (ngModelChange)="filterByUserName($event)"
    style="margin-bottom: 16px; width: 250px;"
  />
</div>

<nz-table #nestedTable [nzData]="filteredUsersList" [nzPageSize]="10">
  <thead>
  <tr>
    <th></th>
    <th>ID</th>
    <th>UserName</th>
  </tr>
  </thead>
  <tbody>
    @for (data of nestedTable.data; track data) {
      <tr>
        <td [(nzExpand)]="data.expand"></td>
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
      </tr>
      <tr [nzExpand]="data.expand">
        <nz-table #innerTable [nzData]="data.groups" nzSize="middle" [nzShowPagination]="false">
          <thead>
          <tr>
            <th>ID</th>
            <th>GroupName</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
            @for (group of innerTable.data; track group) {
              <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>
                  <button
                    nz-button
                    nzType="primary"
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure you want to delete this?"
                    (nzOnConfirm)="deleteCLicked(data.id, group.id)"
                    >
                    Delete
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </nz-table>
      </tr>
    }
  </tbody>
</nz-table>
