[nz-form] {
  max-width: 600px;
}

.ant-select.ant-select-in-form-item.phone-select {
  width: 80px;
}

.register-area {
  margin-bottom: 8px;
}


.button-container {
  display: flex;
  gap: 10px; /* spacing between buttons */
}
.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
